$--color-primary: #01D167;
$--color-secondary: #0C365A;
$--color-secondary-light-9: #325BAF;
$--color-secondary-light-2: #EDF3FF;
$--color-secondary-light-1: #F5F9FF;
$--color-text: #222222;
$--color-text-light: #AAAAAA;